<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="movie.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>@ViewBag.Title-TakFilm </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("TakFilm")"><span class="glyphicon glyphicon-film "> تک فیلم</span></a>

                @*@Html.ActionLink("TakFilm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a href="@Url.Action("Contact")"><span class="glyphicon glyphicon-phone-alt"> تماس باما</span></a>
                    
                    <li><a href="@Url.Action("About")"><span class="glyphicon glyphicon-user"> درباره ما</span></a>
                   
                    <li><a href="@Url.Action("Gallery")"><span class="glyphicon glyphicon-picture"> گالری</span></a>
                    
                    <li><a href="@Url.Action("Index")"><span class="glyphicon glyphicon-home"> صفحه اصلی</span></a>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">&copy; 1396-کلیه حقوق متعلق به سایت تک فیلم میباشد. </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
